<head>
  <link rel="stylesheet" href="../static/css/main.css" />
</head>

<section>
  <h2>Se Connecter</h2>
  <form method="post" action="#">
    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <input
          type="text"
          name="username"
          id="username"
          value=""
          placeholder="Identifiant"
        />
      </div>
      <div class="col-6 col-12-xsmall">
        <input
          type="text"
          name="password"
          id="password"
          value=""
          placeholder="Mot de passe"
        />
      </div>
      <div class="col-12">
        <ul class="actions">
          <li><input type="submit" value="Connexion" /></li>
          <li>
            <a href="login" input type="url" value=""></a>
          </li>

          <li><input type="submit" value="Mot de passe oublié" /></li>
        </ul>
      </div>
    </div>
  </form>
</section>

{% include("info.html") %}
