<!DOCTYPE HTML>
<html>
	{% include("head.html.jinja") %}
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
                {% include("header.html.jinja") %}

				<!-- Menu -->
                {% include("menu.html.jinja") %}

				<!-- Main -->
				{% include("article_1_content.html.jinja") %}

				<!-- Footer -->
                {% include("footer.html.jinja") %}

			</div>

		<!-- Scripts -->
        {% include("script.html.jinja") %}


	</body>
</html>