<!DOCTYPE HTML>
{% include("info.html.jinja") %}
<html>
	{% include("head.html.jinja") %}
	<body class="is-preload">
	<div>
	<a href="static/document/CV_Mathias_Robert.pdf" target="_blank" >
    CV de Mathias Robert
  </a>
	</div>
	<div>
	<a href="static/document/CV_Adrien_Sourbets.pdf" target="_blank" >
    CV d'Adrien Sourbets
	</div>
  </a>
  <div>
	</div>
	<a href="static/document/CV_Thomas_Zahnd.pdf" target="_blank" >
    CV de Thomas Zahnd
  </a>
  <div>
	<a href="static/document/CV_Etienne_Vidal.pdf" target="_blank" >
    CV d'Étienne Vidal
  </a>
	</div>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{% include("header.html.jinja") %}

				<!-- Menu -->
				{% include("menu.html.jinja") %}

				<!--Main--> 
				<p>Ce projet web est réalisé par Mathias Robert, Adrien Sourbet, Thomas Zahnd et Etienne Vidal, il permet de créer un compte et de vous abonner à différents thèmes règlementaire pour reste au courant des dernières actualités. Ce site s'appuie essentiellement des textes publiés par l'EASA.</p>


				{% include("script.html.jinja") %}