{% extends "base.html.jinja" %}

{% block content %}
<div id="main" style="max-width: 800px; margin: 0 auto; padding: 2em 1em;">
    <h2>À propos du projet</h2>
    <p>
        Ce projet web est réalisé par <strong>Mathias Robert</strong>, <strong>Adrien Sourbets</strong>, <strong>Thomas Zahnd</strong> et <strong>Étienne Vidal</strong>. Il permet de créer un compte et de vous abonner à différents thèmes réglementaires pour rester au courant des dernières actualités. Ce site s'appuie essentiellement sur les textes publiés par l'EASA.
    </p>

    <h3>CV des membres du projet</h3>
    <ul style="list-style: none; padding: 0;">
        <li style="margin-bottom: 10px;">
            <a href="{{ url_for('static', filename='document/CV_Mathias_Robert.pdf') }}" target="_blank" class="button">
                CV de Mathias Robert
            </a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="{{ url_for('static', filename='document/CV_Adrien_Sourbets.pdf') }}" target="_blank" class="button">
                CV d'Adrien Sourbets
            </a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="{{ url_for('static', filename='document/CV_Thomas_Zahnd.pdf') }}" target="_blank" class="button">
                CV de Thomas Zahnd
            </a>
        </li>
        <li style="margin-bottom: 10px;">
            <a href="{{ url_for('static', filename='document/CV_Etienne_Vidal.pdf') }}" target="_blank" class="button">
                CV d'Étienne Vidal
            </a>
        </li>
    </ul>
</div>
{% endblock %}