<!DOCTYPE HTML>

<html>
	{% include("head.html.jinja") %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				{% include("header.html.jinja") %}

				<!-- Menu -->
				{% include("menu.html.jinja") %}

				<!--Main--> 

				{% include("script.html.jinja") %}