<section id="footer">
    <ul class="icons">
        <li><a href="https://github.com/Rafale470/BE_Web" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <p class="copyright">&copy; ENAC, Adrien Sourbets, Etienne Vidal, Thomas Zahnd, Mathias Robert</p>
</section>