<header id="header">
    <h1><a href="index">Alerte Réglementation</a></h1>
    <nav class="links">
        <ul>
            <li><a href="https://www.icao.int/about-icao/Pages/FR/default.aspx">OACI</a></li>
            <li><a href="https://www.easa.europa.eu/en/home">EASA</a></li>
            <li><a href="https://www.legifrance.gouv.fr/">LegiFrance</a></li>
            <li><a href="/Ma_page">Ma page</a></li>
            {% if session["privilege"] == "admin" %}
            <li><a href="/sgbd">Gestion admin</a></li>
            <li><a href="/gestion_reglementation">Gestion textes</a></li>
            {% endif %}
            <li><a href="A_propos">A propos</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>