<!DOCTYPE HTML>
<html>
	{% include("info.html.jinja") %}
	{% include("head.html.jinja") %}
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			{% include("header.html.jinja") %}

			<!-- Menu -->
			{% include("menu.html.jinja") %}

			<!-- Main -->
			<div id="main">
				<h1 class="main-title">Feed d'actualités récentes sur l'aviation civile</h1>

				<div class="preferences-button">
					<a href="/search_cellar" class="button">Effectuer une recherche</a>
				</div>

				{% if resultats %}
					{% for resultat in resultats %}
						<!-- Post -->
						<article class="post compact">
							<header>
								<div class="title">
									<h2>
										<a href="{{ url_for('eurlex_document', celex=resultat['celex']) }}">
											{{ resultat['title'] }}
										</a>
									</h2>
									<p>Descripteur : {{ resultat['eurovocs'] or "Non renseigné" }}</p>
								</div>
								<div class="meta">
									<p><strong>Date :</strong> {{ resultat['date_document'] }}</p>
									<p><strong>Forme :</strong> {{ resultat['type'] }}</p>
								</div>
							</header>

							<div class="content">
								<p><strong>Numéro CELEX :</strong> {{ resultat['celex'] }}</p>
								{% if resultat['dates_if'] %}
									<p><strong>Date de prise d'effet :</strong> {{ resultat['dates_if'] or "Non renseigné" }}</p>
								{% endif %}
								{% if resultat['dates_ev'] %}
									<p><strong>Date de fin de validité :</strong> {{ resultat['dates_ev'] or "Non renseigné" }}</p>
								{% endif %}
								{% if resultat['force'] %}
									<p><strong>En vigueur :</strong> {{ "Oui" if resultat['force'] else "Non" }}</p>
								{% endif %}
							</div>
						</article>
					{% endfor %}
				{% else %}
					<p>Aucun résultat trouvé.</p>
				{% endif %}

				<!-- Pagination -->
				<div class="pagination-container">
					<div class="pagination-buttons">
						{% if page > 1 %}
							<a class="button" href="{{ url_for('index') }}?page={{ page - 1 }}">← Précédent</a>
						{% else %}
							<div class="button empty-button"></div>
						{% endif %}

						<span class="pagination-page">Page {{ page }}</span>

						{% if (page * per_page) < total %}
							<a class="button" href="{{ url_for('index') }}?page={{ page + 1 }}">Suivant →</a>
						{% else %}
							<div class="button empty-button"></div>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Sidebar -->
			<section id="sidebar">
				<!-- Intro -->
				<section id="intro">
					<a href="#" class="logo"><img src="../static/img/logo.jpg" alt="" /></a>
					<header>
						<h2>Alerte règlementation</h2>
						<p>Un projet créé par <a href="A_propos">un groupe d'étudiants de l'ENAC</a></p>
					</header>
				</section>

				<!-- Posts List -->
				<section>
				<h1 class="main-title">Liens utiles</h1>
					<ul class="posts">
						<li><article><header><h3><a href="https://www.icao.int/about-icao/Pages/FR/default.aspx">OACI</a></h3></header></article></li>
						<li><article><header><h3><a href="https://www.easa.europa.eu/en/home">EASA</a></h3></header></article></li>
						<li><article><header><h3><a href="https://www.legifrance.gouv.fr/">LEGIFRANCE</a></h3></header></article></li>
						<li><article><header><h3><a href="https://eur-lex.europa.eu/homepage.html">EUR-LEX</a></h3></header></li>
						<li><article><header><h3><a href="https://www.enac.fr/fr">ENAC</a></h3></header></li>
					</ul>
				</section>

				<!-- About -->
				<section class="blurb">
					<h2>About</h2>
					<p>La réglementation aéronautique est complexe et évolutive. Chaque semaine, de nouveaux textes européens sont
						publiés ou modifiés. Pour les ingénieurs, agents de la DGAC ou les opérateurs des compagnies aériennes, il est
						indispensable de rester à jour sur ces changements. Le projet consiste à développer une application web permettant aux utilisateurs de consulter les textes réglementaires en vigueur, organisés par catégorie et d'être notifiés des nouvelles publications ou mises à jour selon leurs préférences personnalisées.
					</p>
					<ul class="actions">
						<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">Tutoriel vidéo</a></li>
					</ul>
				</section>

				<!-- Footer -->
				{% include("footer.html.jinja") %}
			</section>

		</div>

		<!-- Scripts -->
		{% include("script.html.jinja") %}
	</body>
</html>
