<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include("info.html.jinja") %}
{% include("head.html.jinja") %}

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    {% include("header.html.jinja") %}

    <!-- Menu -->
    {% include("menu.html.jinja") %}

    <!-- Main -->
    <div id="main">

      <section>
        <h2>Se Connecter</h2>
        <form method="post"
          action="#">
          <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
              <input type="text"
                name="username"
                id="username"
                value=""
                placeholder="Identifiant" />
            </div>
            <div class="col-6 col-12-xsmall">
              <input type="password"
                name="password"
                id="password"
                value=""
                placeholder="Mot de passe" />
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit"
                    value="Connexion" /></li>
                <li>
                  <a href="login"
                    input
                    type="url"
                    value=""></a>
                </li>

                <li><a href="" class="button">Mot de passe oublié</a></li>
              </ul>
            </div>
          </div>
        </div>
        </form>
      </section>
    </div>
  </div>
  {% include("script.html.jinja") %}