{% include "head.html.jinja" %}
{% include "header.html.jinja" %}
{% include "menu.html.jinja" %}

<div id="main">
    <h1 class="main-title">Votre feed d'actualité base sur vos préférences</h1>

<div class="preferences-button">
    <a href="/gestion_user_reglementation" class="button">Accéder à mes préférences</a>
</div>

    {% if resultats %}
        {% for resultat in resultats %}
            <!-- Post -->
            <article class="post compact">
    <header>
        <div class="title">
            <h2>
                <a href="{{ url_for('eurlex_document', celex=resultat['celex']) }}">
                    {{ resultat['title'] }}
                </a>
            </h2>
            <p>Descripteur : {{ resultat['eurovocs'] or "Non renseigné" }}</p>
        </div>
        <div class="meta">
            <p><strong>Date :</strong> {{ resultat['date_document'] }}</p>
            <p><strong>Forme :</strong> {{ resultat['type'] }}</p>
        </div>
    </header>

    <div class="content">
        <p><strong>Numéro CELEX :</strong> {{ resultat['celex'] }}</p>
        {% if resultat['dates_if'] %}
        <p><strong>Date de prise d'effet :</strong> {{ resultat['dates_if'] or "Non renseigné" }}</p>
        {% endif %}
        {% if resultat['dates_if'] %}
        <p><strong>Date de fin de validité :</strong> {{ resultat['dates_ev'] or "Non renseigné" }}</p>
        {% endif %}
        {% if resultat['force'] %}
            <p><strong>En vigueur :</strong> {{ resultat['force'] }}</p>
        {% endif %}
    </div>
</article>
        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
</div>

<div class="pagination-container">
    <div class="pagination-buttons">
        {% if page > 1 %}
            <a class="button" href="{{ url_for('recherche') }}?page={{ page - 1 }}">← Précédent</a>
        {% else %}
            <div class="button empty-button"></div>
        {% endif %}

        <span class="pagination-page">Page {{ page }}</span>

        {% if (page * per_page) < total %}
            <a class="button" href="{{ url_for('recherche') }}?page={{ page + 1 }}">Suivant →</a>
        {% else %}
            <div class="button empty-button"></div>
        {% endif %}
    </div>
</div>


{% include "script.html.jinja" %}
{% include "footer.html.jinja" %}
